{{/* gotype: entgo.io/ent/entc/gen.Graph */}}

{{ define "http/create" }}
    {{- with extend $ "Package" "http" -}}
        {{ template "header" . }}
    {{ end }}
    import "github.com/go-playground/validator/v10" {{/* This is needed for stupid SIV rule */}}

    {{ $pkg := base $.Config.Package }}
    {{ range $n := $.Nodes }}
        // Payload of a {{ $pkg }}.{{ $n.Name }} create request.
        type {{ $n.Name }}CreateRequest struct {
            {{/* TODO: Having all pointers here seems not right. Maybe this can be done in another way ... */}}
            {{ range $f := $n.Fields -}}
                {{ $f.StructField }} *{{ $f.Type.String }} `json:"{{ index (split (tagLookup $f.StructTag "json") ",") 0 }}"
                {{- with validationTags $f.Annotations.Elk "create" }} validate:"{{ . }}"{{ end }}`
            {{ end -}}
            {{ range $e := $n.Edges -}}
                {{ $e.StructField }}{{ if $e.Unique }}*{{ else }}[]{{ end }}{{ $e.Type.ID.Type.String }} `json:"{{ index (split (tagLookup $e.StructTag "json") ",") 0 }}"
                {{- with validationTags $e.Annotations.Elk "update" }} validate:"{{ . }}"{{ end }}`
            {{ end }}
        }

        // Create creates a new {{ $pkg }}.{{ $n.Name }} and stores it in the database.
        func (h {{ $n.Name }}Handler) Create(w http.ResponseWriter, r *http.Request) {
            l := h.log.With(zap.String("method", "Create"))
            // Get the post data.
            var d {{ $n.Name }}CreateRequest
            {{- template "helper/http/decode-and-validate-request-body" -}}
            // Save the data.
            b := h.client.{{ $n.Name }}.Create()
            // TODO: what about slice fields that have custom marshallers?
            {{ range $f := $n.Fields -}}
                if d.{{ $f.StructField }} != nil {
                    b.Set{{ $f.StructField }}(*d.{{ $f.StructField }})
                }
            {{ end -}}
            {{ range $e := $n.Edges -}}
                if d.{{ $e.StructField }} != nil {
                    {{ if $e.Unique -}}
                        b.{{ $e.MutationSet }}(*d.{{ $e.StructField }})
                    {{ else -}}
                        b.{{ $e.MutationAdd }}(d.{{ $e.StructField }}...)
                    {{- end }}
                }
            {{ end -}}
            // Store in database.
            e, err := b.Save(r.Context())
            if err != nil {
                l.Error("error saving {{ $n.Name | kebab }}", zap.Error(err))
                render.InternalServerError(w, r, nil)
                return
            }
            // Reload entry.
            q := h.client.{{ $n.Name }}.Query().Where({{ $n.Name | lower }}.ID(e.{{ $n.ID.StructField }}))

            {{- with edgesToLoad $n "create" }}
                // Eager load edges that are required on create operation.
                {{ . }}
            {{- end }}
            e, err = q.Only(r.Context())

            {{- template "helper/http/reload/error-handling" . -}}

            j, err := sheriff.Marshal(&sheriff.Options{
                IncludeEmptyTag: true,
                Groups: []string{
                    {{- with $n.Annotations.ElkSchema.CreateGroups -}}
                        "{{ join (stringSlice .) `","` }}"
                    {{- else -}}
                        "{{ $n.Name | kebab }}"
                    {{- end -}}
                },
            }, e)
            if err != nil {
                l.Error("serialization error", zap.Int("{{ $n.ID.Name }}", e.{{ $n.ID.StructField }}), zap.Error(err))
                render.InternalServerError(w, r, nil)
                return
            }
            l.Info("{{ $n.Name | kebab }} rendered", zap.Int("{{ $n.ID.Name }}", e.{{ $n.ID.StructField }}))
            render.OK(w, r, j)
        }
    {{ end }}
{{ end }}