{{/* gotype: entgo.io/ent/entc/gen.Graph */}}

{{ define "http/handler" }}
    {{- with extend $ "Package" "http" -}}
        {{ template "header" . }}
    {{ end }}
    import ( {{/* This is needed for stupid SIV rule */}}
        "github.com/go-chi/chi/v5"
        "github.com/go-playground/validator/v10"
    )

    // handler has some convenience methods used on node-handlers.
    type handler struct {}

    // Bitmask to configure which routes to register.
    type Routes uint32

    func (rs Routes) has(r Routes) bool { return rs&r != 0 }

    {{ $pkg := base $.Config.Package }}
    {{ range $n := $.Nodes }}
        const (
            {{ $n.Name }}Create Routes = 1 << iota
            {{ $n.Name }}Read
            {{ $n.Name }}Update
            {{ $n.Name }}Delete
            {{ $n.Name }}List
            {{ range $e := $n.Edges -}}
                {{ $n.Name }}{{ $e.Name | pascal }}
            {{ end -}}
            {{ $n.Name }}Routes = 1<<iota - 1
        )

        // {{ $n.Name }}Handler handles http crud operations on {{ $pkg }}.{{ $n.Name }}.
        type {{ $n.Name }}Handler struct {
            handler

            client    *ent.Client
            log       *zap.Logger
            validator *validator.Validate
        }

        func New{{ $n.Name }}Handler(c *ent.Client, l *zap.Logger, v *validator.Validate) *{{ $n.Name }}Handler {
            return &{{ $n.Name }}Handler{
                client:    c,
                log:       l.With(zap.String("handler", "{{ $n.Name }}Handler")),
                validator: v,
            }
        }

        // RegisterHandlers registers the generated handlers on the given chi router.
        func (h *{{ $n.Name }}Handler) Mount(r chi.Router, rs Routes) {
            if rs.has({{ $n.Name }}Create) {
                r.Post("/", h.Create)
            }
            if rs.has({{ $n.Name }}Read) {
                r.Get("/{id}", h.Read)
            }
            if rs.has({{ $n.Name }}Update) {
                r.Patch("/{id}", h.Update)
            }
            if rs.has({{ $n.Name }}Delete) {
                r.Delete("/{id}", h.Delete)
            }
            if rs.has({{ $n.Name }}List) {
                r.Get("/", h.List)
            }
            {{ range $e := $n.Edges -}}
                if rs.has({{ $n.Name }}{{ $e.Name | pascal }}) {
                    r.Get("/{id}/{{ $e.Name }}", h.{{ $e.Name | pascal }})
                }
            {{ end -}}
        }
    {{ end }}

    func stripEntError(err error) string {
        return strings.TrimPrefix(err.Error(), "ent: ")
    }
{{ end }}
