{{ define "helper/http/decode-and-validate-request" -}}
    {{/* gotype: entgo.io/ent/entc/gen.Type */}}
    if err := easyjson.UnmarshalFromReader(r.Body, &d); err != nil {
        l.Error("error decoding json", zap.Error(err))
        BadRequest(w, "invalid json string")
        return
    }
    {{ if needsValidation $ -}}
        // Validate the data.
        errs := make(map[string]string)
        {{- range $f := $.Fields }}
            {{- $checkRequired := and (not $f.Optional) (ne $f.Name $.ID.Name) (not $f.Default) }}
            {{- if $checkRequired }}
                if d.{{ $f.StructField }} == nil {
                    errs["{{ $f.Name }}"] = `missing required field: "{{ $f.Name }}"`
                }
            {{- end }}
            {{- if or $f.Validators $f.IsEnum }}
                {{- if $checkRequired -}}
                    else
               {{- else }}
                    if d.{{ $f.StructField }} != nil {
                {{- end }}
                    if err := {{ $.Package }}.{{ $f.Validator }}({{$f.BasicType (print "*d." $f.StructField) }}); err != nil {
                        errs["{{ $f.Name }}"] = strings.TrimPrefix(err.Error(), "{{ base $.Package }}: ")
                    }
                 {{- if not $checkRequired}}}{{ end }}
            {{- end }}
        {{- end }}
        {{- range $e := $.Edges }}
            {{- if not $e.Optional }}
                if d.{{ $e.StructField }} == nil {
                    errs["{{ $e.Name }}"] = `missing required edge: "{{ $e.Name }}"`
                }
            {{- end }}
        {{- end }}
        if len(errs) > 0 {
            l.Info("validation failed", zapFields(errs)...)
            BadRequest(w, errs)
            return
        }
    {{ end -}}
{{ end }}

{{ define "helper/http/id-from-url" }}
    // ID is URL parameter.
    {{- if $.ID.IsInt }}
        id, err := strconv.Atoi(chi.URLParam(r, "id"))
        if err != nil {
            l.Error("error getting id from url parameter", zap.String("id", chi.URLParam(r, "id")), zap.Error(err))
            BadRequest(w, "id must be an integer greater zero")
            return
        }
    {{ else }}
        id := chi.URLParam(r, "id")
    {{ end -}}
{{ end }}

{{ define "helper/http/error-handling" }}
    if err != nil {
        switch {
        {{- range $err := $.Errors }}
            {{- if eq $err "not-found" }}
                case ent.IsNotFound(err):
                    msg := stripEntError(err)
                    l.Info(msg, zap.Error(err){{ range $.Logs }}, {{ . }}{{ end }})
                    NotFound(w, msg)
            {{- else if eq $err "not-singular" }}
                case ent.IsNotSingular(err):
                    msg := stripEntError(err)
                    l.Error(msg, zap.Error(err){{ range $.Logs }}, {{ . }}{{ end }})
                    BadRequest(w, msg)
            {{- else if eq $err "privacy" }}
                // Privacy case
            {{- end }}
        {{- end }}
        default:
            l.Error("{{ $.Default }}", zap.Error(err){{ range $.Logs }}, {{ . }}{{ end }})
            InternalServerError(w, nil)
        }
        return
    }
{{ end }}

{{ define "helper/http/pagination" -}}
    {{/* gotype: entgo.io/ent/entc/gen.Type */}}
    page := 1
    if d := r.URL.Query().Get("page"); d != "" {
        page, err = strconv.Atoi(d)
        if err != nil {
            l.Info("error parsing query parameter 'page'", zap.String("page", d), zap.Error(err))
            BadRequest(w, "page must be an integer greater zero")
            return
        }
    }
    itemsPerPage := 30
    if d := r.URL.Query().Get("itemsPerPage"); d != "" {
        itemsPerPage, err = strconv.Atoi(d)
        if err != nil {
            l.Info("error parsing query parameter 'itemsPerPage'", zap.String("itemsPerPage", d), zap.Error(err))
            BadRequest(w, "itemsPerPage must be an integer greater zero")
            return
        }
    }
    es, err := q.Limit(itemsPerPage).Offset((page - 1) * itemsPerPage).All(r.Context())
    if err != nil {
        l.Error("error fetching {{ $.Name | kebab | plural}} from db", zap.Error(err))
        InternalServerError(w, nil)
        return
    }
{{ end }}