{{/* gotype: entgo.io/ent/entc/gen.Graph */}}

{{ define "helper/http/import" }}
    import (
        {{- range imports $ }}
            "{{ . }}"
        {{- end }}
        "{{ $.Config.Package }}"
        "github.com/go-chi/chi/v5"
        "github.com/mailru/easyjson"
    )
{{ end }}
