{{/* gotype: entgo.io/ent/entc/gen.Graph */}}

{{ define "http/list" }}
    {{- with extend $ "Package" "http" -}}
        {{ template "header" . }}
    {{ end }}
    {{ template "helper/http/import" $ }}

    {{ $pkg := base $.Config.Package }}
    {{ range $n := filterNodes $ "list" }}
        // Read fetches the {{ $pkg }}.{{ $n.Name }} identified by a given url-parameter from the
        // database and returns it to the client.
        func (h *{{ $n.Name }}Handler) List(w http.ResponseWriter, r *http.Request) {
            l := h.log.With(zap.String("method", "List"))
            q := h.client.{{ $n.Name }}.Query()
            {{- with edges $n "list" }}
                // Eager load edges that are required on list operation.
                q{{ .EntQuery }}
            {{- end }}
            var err error
            {{- template "helper/http/pagination" $n -}}

            l.Info("{{ $n.Name | kebab | pluralize }} rendered", zap.Int("amount", len(es)))
            easyjson.MarshalToHTTPResponseWriter(New{{ (view $n ($n.Annotations.ElkSchema.ListGroups | stringSlice)).Name }}s(es), w)
        }
    {{ end }}
{{ end }}