{{ define "http/response" -}}
    {{/* gotype: entgo.io/ent/entc/gen.Graph */}}
    {{- with extend $ "Package" "http" -}}
        {{ template "header" . }}
    {{ end }}
    {{ template "helper/http/import" $ }}

    // Basic HTTP Error Response
    type ErrResponse struct {
        Code   int         `json:"code"`             // http response status code
        Status string      `json:"status"`           // user-level status message
        Errors interface{} `json:"errors,omitempty"` // application-level error
    }

    func (e ErrResponse) MarshalToHTTPResponseWriter(w http.ResponseWriter) (int, error) {
        d, err := easyjson.Marshal(e)
        if err != nil {
            return 0, err
        }
        w.Header().Set("Content-Type", "application/json; charset=utf-8")
        w.Header().Set("Content-Length", strconv.Itoa(len(d)))
        w.WriteHeader(e.Code)
        return w.Write(d)
    }

    {{ range (list "BadRequest" "Forbidden" "InternalServerError" "NotFound" "Unauthorized") }}
        func {{ . }}(w http.ResponseWriter, msg interface{}) (int, error) {
            return ErrResponse{
                Code: http.Status{{ . }},
                Status: http.StatusText(http.Status{{ . }}),
                Errors: msg,
            }.MarshalToHTTPResponseWriter(w)
        }
    {{ end }}

    {{- range $n, $v := views $ }}
        type (
            {{ $n }} struct {
                {{- range $f := $v.Fields }}
                    {{ $f.StructField }} {{ if $f.NillableValue }}*{{ end }}{{ $f.Type }}
                    {{- with tagLookup $f.StructTag "json" }} `json:"{{ . }}"{{ end }}`
                {{- end }}
                {{- range $e := $v.Edges }}
                    {{ $e.StructField }} {{ if $e.Unique }}*{{ end }}{{ $e.Name }}{{ if not $e.Unique }}s{{ end }}
                    {{- with tagLookup $e.StructTag "json" }} `json:"{{ . }}"{{ end }}`
                {{- end }}
            }
            {{ $n }}s []*{{ $n }}
        )

        {{- $pkg := base $.Config.Package }}
        func New{{ $n }}(e *{{ $pkg }}.{{ $v.Node.Name }}) *{{ $n }} {
            if e == nil {
                return nil
            }
            return &{{ $n }}{
                {{- range $f := $v.Fields }}
                    {{ $f.StructField }}: e.{{ $f.StructField }},
                {{- end }}
                {{- range $e := $v.Edges }}
                    {{ $e.StructField }}: New{{ $e.Name }}{{ if not $e.Unique }}s{{ end }}(e.Edges.{{ $e.StructField }}),
                {{- end }}
            }
        }

        func New{{ $n }}s(es []*{{ $pkg }}.{{ $v.Node.Name }}) {{ $n }}s {
            if len(es) == 0 {
                return nil
            }
            r := make({{ $n }}s, len(es))
            for i, e := range es {
                r[i] = New{{ $n }}(e)
            }
            return r
        }
    {{- end }}
{{ end }}
