{{/* gotype: entgo.io/ent/entc/gen.Type */}}

{{ define "flutter/model" }}
    {{ template "flutter/header" }}
    import 'package:json_annotation/json_annotation.dart';

{{/*    TODO: Import what is necessary */}}

    {{/* json_serializable package puts the generated code in this file */}}
    part '{{ $.Name | snake }}.g.dart';

    @JsonSerializable()
{{/*        TODO: Converters and its imports */}}
    class {{ $.Name }} {
        {{ $.Name }}();

        {{/* ID of the model */}}
        {{ $json := or (index (split (tagLookup $.ID.StructTag "json") ",") 0) (snake $.ID.Name) }}
        @JsonKey(name: '{{ $json }}')
        {{ $.ID.Type | dartType }}? {{ $.ID.Name }};
    }
{{ end }}

